@import url("./sections/main.css");


div.effects {
    display: grid;
    grid-template-columns: 25% 25% 25%;
    grid-auto-rows: 13%;
    justify-content: center;
    align-items: center;
}

div.buttons {
    padding: 0.5em;
}


label.effectText {
    color: #ffffff;
    font-size: 1.2em;
}

label.multText {
    color: #ffffff;
    font-size: 1.1em;
}


button.bannerButton {
    background: none;
    border: none;
    transition: all 0.2s ease-in-out;
}

button.bannerButton:hover {
    transform: scale(1.1);
    filter: brightness(1.2);
}
