@import url("./sections/main.css");


.product, .ingredient {
    width: 4em;
}


pre {
    text-align: center;
    text-decoration: none;
    font-size: 1.4em;
}

pre.priceinfo {
    color: #86c986;
}

pre.effectinfo {
    color: #cccccc;
    white-space: pre-wrap;
}

pre.price-info {
    color: #bbbbbb;
    font-size: 1em;
}


input {
    transition: all 0.2s ease-in-out;
}

input:hover {
    transform: scale(1.3);
    filter: brightness(1.2);
    transition: all 0.2s ease-in-out;
}

input.linkicon {
    padding: 1em;
    max-width: 5em;
    transition: all 0.2s ease-in-out;
}

input.linkicon:hover {
    transform: scale(1.1);
    transition: all 0.2s ease-in-out;
}


button.bannerButton {
    background: none;
    border: none;
    transition: all 0.2s ease-int-out;
}

button.bannerButton {
    transform: scale(1.1);
    filter: brightness(1.2);
}


footer {
    margin-top: auto;
}
